@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Rubik&display=swap');

body{
    padding: 1rem;
    margin: 0;
    background-color: black;
}

#maze{
    width: 100%;
    text-align: center;
}

#title{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3rem;
}

#controls{
    text-align: center;
    margin: 2rem;
}

input[type=button]{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: none;
}

input[type=number]{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    background: none;
    border: 2px solid #ffffff;
    text-align: right;
}

html{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}